/**
 * Created  on 12/23/17.
 */
.THIS {
}

.THIS:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
}

.THIS.selected-tile {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
}

.THIS.selected-tile.cTc_checkboxTile span {
    color: token(colorTextInverse);
}

.THIS.unselected-tile {
    background: token(colorBackgroundShade);
}