.THIS .customRequired{
    font-weight: 400;
}

.THIS .customRequired:before {
    content: "*";
    margin-top: 0.0rem;
    margin-right: 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
    padding-bottom: 0.125rem;
}