.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.header-column {
    padding: 0 2rem;
}
.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.border{
    border-style : solid;
    border-width: 1px
}
.nested_task .gantt_add{
    display: none !important;
}
.high{
    background-color:red;
}
.normal{
    background-color:green;
}
.low{
    background-color:blue;
}
.gantt_tree_icon {
    background-position: right;
}
.nested_task .gantt_add{
    display: none !important;
}
.gantt_task_line .gantt_task_progress {
    color: rgb(255, 255, 255);
    text-align: left;
    text-indent: 5px;
}
/* .gantt_task_progress {
    padding-left : 5px;
} */